modules = ["nodejs-20", "web", "bash"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm install && npm run build"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Production Build & Start"

[[workflows.workflow]]
name = "Production Build & Start"
author = 45242335
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
